.flag-state {
    width: 26px;
    height: 26px;
}

.state-name {
    display: flex;
    padding: 0 0 0 5px;
    align-items: center;
}

.green-arrow-state {
    height: 6px;
    margin-left: 4px;
}

@media only screen and (max-width: 320px) {
    .state-name {
        font-size: 9px;
        display: flex;
        padding: 0 0 0 5px;
        align-items: center;
    }
    
    .green-arrow-state {
        height: 6px;
        margin-left: 4px;
    }
  }