#button-new-task {
  width: 90%;
  margin: 10px;
  color: #101116;
  font-weight: 900;
  text-align: center;
  border-radius: 22px;
  text-transform: none;
  background-color: #00e074;
  font-family: "Sora", sans-serif;
}

#line-new-task {
  margin-top: -3px;
  border: 1px solid #00000000;
  box-shadow: 0 1px 0 #39445b; /* Cria uma "borda" mais fina usando sombra */
}

.type-task-button {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
}

.task-type-text {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.type-task-button-active {
  background-color: #2f323b;
}

.task-type-text:hover {
  background-color: #2f323b;
}

.notify-task-number {
  font-size: 10px;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 10px;
  background-color: #E03131;
  padding: 3px 5px 3px 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
