#title-page-tasks {
    margin-bottom: 10px !important;
}

#button-new-task {
    text-transform:none;
    border-radius: 22px;
    width: 90%;
    background-color: #00E074;
    color: #101116;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 900;
    margin: 10px;
    
}

#new-task-header {
    border-bottom: 1px solid #39445B;
}

.task-left-title {
    font-size: 14px !important;
    padding: 10px 10px 3px 10px;
}

.notify-task-number {
    background-color: red;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    padding: 3px 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.task-button-menu {
    margin-top: 5px;
    color: #FFF;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
    border-radius: 7px;
}

.task-button-menu-active {
    background-color: #2F343C;
}

.task-button-menu:hover {
    background-color: #2F343C;
    cursor: pointer;
}

.task-menu-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px !important;
    padding: 0 10px 0 10px !important;
}

.task-xat-employee {
    display: flex;
    justify-content: flex-start;
    padding: 6px 12px !important;
    align-items: center;
}

.notify-message-chat-number {
    color: #FFF;
    text-align: right;
    font-family: 'Sora', sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background-color: red;
    padding: 3px 5px ;
    border-radius: 10px;
    height: 12px;
}

.employee-xat-name {
    padding-left: 5px;
    font-size: 14px !important;
    align-self: center;
}

.employee-type-name {
    padding-left: 5px;
    font-size: 12px !important;
    align-self: center;
}

.box-employee-xat {
    display: flex;
    width: 78%;
    justify-content: space-between;
}

#new-employee {
    display: flex;
    justify-content: center;
}

#button-new-employee {
    color: #fff;
    display: flex;
    font-size: 12px;
    width: 90%;
    text-align: center;
    margin-top: 10px;
    border-radius: 539.102px;
    border: 1px solid #39445B;
    background: #212836;
    box-shadow: 0px 0px 1.32374px 0px rgba(0, 0, 0, 0.15);
    text-transform:none;
    margin-bottom: 10px;
}

.MuiFormControlLabel-label {
    font-size: 12px;
}

.form-control-label-tasks-checkbox-label {
    margin-bottom: -10px;
}


.task-box-section {
    cursor: pointer;
    margin-left: 12px !important;
    margin-bottom: 12px !important;
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    color: #fff;
    border-radius: 22px;
    border: 1px solid #39445B;
    background: linear-gradient(108deg, rgba(33, 40, 54, 0.50) 0%, rgba(33, 40, 54, 0.15) 101.49%);
}

.task-box-section section {
    width: 100%;
}

.task-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.title-task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    font-family: 'Sora', sans-serif;
}

.title-task img {
    cursor: pointer;
}

.name-task {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.star-icon {
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    background-image: url("../../assets/svg/starIcon.svg");
    background-repeat: no-repeat;
}

.star-icon:hover {
    background-image: url("../../assets/svg/starIcon-yellow.svg");
}

.task-box-grid img {
    cursor: pointer;
}

.task-type {
    cursor: pointer;
    color: #FFF;
    font-family: 'Sora', sans-serif !important;
    font-size: 0.6rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    border-radius: 13.043px;
    border: 0.87px solid #FFF;
    display: inline-flex;
    padding: 3px 5px;
    justify-content: center;
    align-items: center;
}

.footer-task {
    display: flex;
    align-items: center;
    width: 100%;
}

.task-inicial-date span, .task-final-date span{
    font-family: 'Sora', sans-serif !important;
    font-weight: 600;
}

.task-risk-type {
    font-family: 'Sora', sans-serif !important;
    font-size: 15.109px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 15px;

    padding: 5px;   
}

.task-risl-type-medium {
    color: #00E074;
    border: 1px solid #00E074;
}

.task-risk-type-critical {
    color: #E2243B !important;
    border: 1px solid #E2243B !important;
}

.task-risk-critical {
    border: 1px solid rgba(226, 36, 59, 0.50) !important;
    background: linear-gradient(288deg, rgba(226, 36, 59, 0.04) 15.51%, rgba(226, 36, 59, 0.20) 121.52%) !important;
}

#task-box-grid {
     border-radius: 22px;
     border: 1px solid #39445B;
     background: rgba(33, 40, 54, 0.50);
     color: white;
     word-break: break-all;
}

.signatures {
    display: flex;
    align-items: center;
}

.signatures-dialog {
    display: flex;
    align-items: center;
}

.task-card-avatar-image {
    width: 23px !important;
    height: 23px !important;
}

.task-card-avatar-image-dialog {
    width: 23px !important;
    height: 23px !important;
}

.signatures-dialog .css-tblw2o-MuiAvatar-root-MuiAvatarGroup-avatar {
    width: 23px !important;
    height: 23px !important;
    background: #39445B !important;
    color: #fff !important;
    font-size: 0.8rem !important;
    margin-left: -10px !important;
}

.signatures .css-tblw2o-MuiAvatar-root-MuiAvatarGroup-avatar {
    width: 23px !important;
    height: 23px !important;
    background: #39445B !important;
    color: #fff !important;
    font-size: 0.8rem !important;
    margin-left: -10px !important;
}

#signated-by-title {
    color: rgba(255, 255, 255, 0.50);
    font-family: Sora;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 3px;
}

.MuiFormControlLabel-label {
    font-size: 0.8rem !important;
}

#new-user-modal {
    display: flex;
    flex-direction: column;
}

#task-category-create-button {
    margin: 5px 0px -2px 5px;
    cursor: pointer;
}

#type-task-create svg{
    margin-left: 2px;
}

#new-stask-modal-title {
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3px;
}

#new-task-modal-integral-title {
    color: rgba(255, 255, 255, 0.50);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-bottom: 15px;
}

#new-task-modal-category-title span, #new-task-modal-integral-title span, #new-task-modal-broker-title span, #dialog-task-modal-broker-title {
    padding-right: 5px;
}

#new-task-modal-category-title, #new-task-modal-initial-date, #dialog-task-modal-initial-date, #new-task-modal-broker-title, #dialog-task-modal-broker-title, #dialog-task-modal-initial-date {
    display:flex;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

#dialog-task-modal-broker-title {
    margin-top: 18px;
}

#dialog-task-modal-broker-title svg {
    margin-left: 3px;
    margin-top: 2px;
    cursor: pointer;
}

#new-task-modal-category-title svg {
    align-self: center;
}


#new-task-type-title, #dialog-task-type-title {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#dialog-task-type-title {
    margin-top: 18px;
}

#new-task-button-type-risk {
    margin-top: 7px;
}

#new-task-button-type-risk svg {
    margin-right: 4px;
}

#initial-date-task, #final-date-task, #dialog-final-date-task, #dialog-initial-date-task{
    margin-top: 3px;
    border-radius: 8.92px;
    border: 1px solid #2F394B;
    padding: 3px;
    background-color:#212836;
    color: #fff;
}

#initial-date-task::-webkit-calendar-picker-indicator, #final-date-task::-webkit-calendar-picker-indicator, #dialog-final-date-task::-webkit-calendar-picker-indicator, #dialog-initial-date-task::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#new-task-modal-description-title, #dialog-task-modal-description-title, #dialog-task-modal-updates-title {
    display:flex;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3px;
    margin-right: 8px;
}

#new-task-modal-textarea, #dialog-task-modal-textarea {
    border-radius: 8.92px;
    border: 1px solid #2F394B;
    background-color:#212836;
    color: #fff;
    resize: none;
    width: 96%;
    margin-top: 15px;
    padding: 10px;
}

#new-task-modal-save-button {
    border-radius: 19.42px;
    background: #00E074;
    box-shadow: 0px 0px 0.781px 0px rgba(0, 0, 0, 0.15);
    width: 116px;
    height: 31px;
    margin-top: 10px;
    text-transform: none;
}

#new-employee-title, #new-document-title {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    align-items: center;
}

#new-document-permissions-title {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    align-items: center;
}

#add-employee-button {
    font-size: 12px;
    margin-top: 20px;
    border-radius: 19.42px;
    background: #00E074;
    box-shadow: 0px 0px 0.781px 0px rgba(0, 0, 0, 0.15);
    text-transform: none;
    text-align: right;
    padding: 5px 18px
}

#new-document-general-access-title, 
#new-document-financial-access-title, 
#new-document-permissions-access-support-title, 
#new-document-permissions-usercontrol-title {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    align-items: center;
}

.new-employee-document-help {
    margin-left: 3px;
}

#new-employee-title svg {
    margin-top: 5px;
    margin-left: 3px;
}

#employeeName, #employeeLastName, #employeeOffice, #employeeEmail {
    color: #FFFFFF80;
    width: 90%;
    border-radius: 8.835px;
    border: 0.99px solid #2F394B;
    background: rgba(255, 255, 255, 0.05);
    padding: 7px;
    margin-top: 14px;
}

#dialog-reply {
    color: #FFFFFF80;
    width: 90%;
    border-radius: 8.835px;
    border: 0.99px solid #2F394B;
    background: rgba(255, 255, 255, 0.05);
    height: 20px;
    padding: 7px;
    margin-left: 5px;
}

#task-view-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#task-view-title svg{
    margin-left: 3px;
    cursor: pointer;
}

#task-view-title svg path:hover{
    fill: #E2C424;
}

#task-view-signed-by {
    color: rgba(255, 255, 255, 0.50);
    font-family: Sora;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signatures .css-tfe7hi-MuiAvatarGroup-root .MuiAvatar-root {
    border: 2px solid transparent !important;
    box-sizing: content-box !important;
    margin-left: -10px;
}

.signatures-dialog .css-tfe7hi-MuiAvatarGroup-root .MuiAvatar-root {
    border: 2px solid transparent !important;
    box-sizing: content-box !important;
    margin-left: -10px;
}

#dialog-task-modal-category-title {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#dialog-task-modal-category-title svg{
    margin-top: 2px;
    margin-left: 3px;
    cursor: pointer;
}

.dialog-update-name {
    color: #FFF !important;
    font-size: 10px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.dialog-update-name span {
    margin-left: 5px !important;
}

.dialog-update-text {
    color: #FFF !important;
    font-size: 14.401px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    border-radius: 8.835px !important;
    border: 0.99px solid #2F394B !important;
    padding: 10px !important;
    margin-top: 5px !important;
}

.dialog-reply-text-button {
    color: #FFF !important;
    font-size: 10px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-decoration-line: underline !important;
    margin-top: 5px !important;
    cursor: pointer !important;
}

.css-czn24n-MuiPaper-root-MuiDialog-paper {
    border-radius: 8px !important;
}

.permissions-with-switch {
    display: flex;
    justify-content: space-between;
}

.CandleSwitch {
    margin-top: 6px;
}

.new-task-svg {
    cursor: pointer;
}

.new-task-svg:hover .task-type-risk-low-stroke{
    stroke:#fff;
}

.new-task-svg:hover .task-type-risk-low-fill {
    fill: #fff;
}

.new-task-svg:hover .task-type-risk-medium-stroke{
    stroke:#00E074;
}

.new-task-svg:hover .task-type-risk-medium-fill {
    fill: #00E074;
}

.new-task-svg:hover .task-type-risk-high-stroke{
    stroke:#E2C424;
}

.new-task-svg:hover .task-type-risk-high-fill {
    fill: #E2C424;
}

.new-task-svg:hover .task-type-risk-critical-stroke{
    stroke:#E2243B;
}

.new-task-svg:hover .task-type-risk-critical-fill {
    fill: #E2243B;
}